Django==2.0.4
django-admin-tools==0.8.1
django-admin-tools-stats==0.9.0
django-appconf==1.0.2
django-bower==5.2.0
django-cache-utils==0.7.2
django-jsonfield==1.0.1
django-nested-admin==3.0.21
django-nvd3==0.9.7
django-qsstats-magic==1.0.0
django-smart-selects==1.5.4
djcacheutils==3.0.0
Jinja2==2.10
MarkupSafe==1.0
python-dateutil==2.7.2
python-memcached==1.59
python-monkey-business==1.0.0
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2018.3
six==1.11.0
Unidecode==1.0.22
