{% extends "main/base.html" %}

{% block content %}
  <div class="container">
    <h1>Questionnaire</h1>
    <ul class="list-unstyled">
      <li>
        {{ questionnaire.get_instrument_display }}
      </li>
      <li>
        {{ questionnaire.diklat.title|title }}
      </li>
    </ul>
    <ol type="A">
      <li>
        Manajemen Penyelenggaraan Diklat
        <ol type="1">
          <li>
            Waktu Penyelenggaraan
            <p>
              Bagaimana penilaian Bapak/Ibu terkait durasi (lama waktu) pelaksanaan sesi kegiatan dalam Diklat Perlindungan Anak bagi LKSA/Panti Swasta yang telah Bapak/Ibu ikuti ?
            </p>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th rowspan=2>
                    No
                  </th>
                  <th rowspan=2>
                    Jenis Pertanyaan
                  </th>
                  <th colspan=4>
                    Jawaban
                  </th>
                </tr>
                <tr>
                  <th>
                    Terlalu Lama
                  </th>
                  <th>
                    Sedang
                  </th>
                  <th>
                    Cukup
                  </th>
                  <th>
                    Kurang
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    Lamanya waktu diklat
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                </tr>
                <tr>
                  <td>
                    2
                  </td>
                  <td>
                    Lamanya waktu diskusi
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                </tr>
              </tbody>
            </table>
            <p>
              Saran :
            </p>
            <textarea rows="4" cols="100%"></textarea>
          </li>
        </ol>
      </li>
    </ol>
  </div>
{% endblock %}
