{% extends "main/base.html" %}

{% block content %}
  <form action="{% url 'main:questionnaire_submit' questionnaire.pk %}" method="post">
    {% csrf_token %}
  <h3>Kuisioner <small class="text-muted">{{ questionnaire.title|title }}</small></h3>
  <hr />
  <div class="py-3">
    <ol type="A">
      {% for topic in topics %}
      <li>
        <div class="pb-5">
          <h5>{{ topic.parent.title|title }}</h5>
          {% if topic.parent.question_set.all|length_is:"1" %}
            {% include "main/questionnaire/_question.html" with question=topic.parent.question_set.first %}
          {% else %}
            <ol>
            {% for question in topic.parent.question_set.all %}
              <li>
                {% include "main/questionnaire/_question.html" with question=question %}
              </li>
            {% endfor %}
            </ol>
          {% endif %}
          <ol type="1">
            {% for child in topic.childs %}
            <li>
              <b>{{ child.title|title }}</b>
              {% if child.question_set.all|length_is:"1" %}
                {% include "main/questionnaire/_question.html" with question=child.question_set.first %}
              {% else %}
                <ol>
                {% for question in child.question_set.all %}
                  <li>
                    {% include "main/questionnaire/_question.html" with question=question %}
                  </li>
                {% endfor %}
                </ol>
              {% endif %}
            </li>
            {% endfor %}
          </ol>
        </div>
      </li>
      {% endfor %}
    </ol>
  </div>
  <hr />
  <button type="submit" class="btn btn-primary float-right mt-3">Submit</button>
  </form>
{% endblock %}
