{% extends 'main/dashboard.html' %}
{% load static %}

{% block dashboard_content %}
  <div class="px-5">
    {% if form.errors %}
    <p class="text-danger">
      {{form.errors|safe}}
    </p>
    {% endif %}
    <form method="post" action="{% url 'account:password_change' %}">
      {% csrf_token %}
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <fieldset class="mb-3">
            <h5 class="text-muted">Chage Password</h5>
            <div class="pl-2">
              <div class="form-group">
                <label for="{{form.old_password.id_for_label}}">Old password</label>
                <input
                  type="password"
                  class="form-control"
                  name="{{form.old_password.name}}"
                  id="{{form.old_password.id_for_label}}"
                  required
                  autofocus
                >
                <small
                  id="{{form.old_password.id_for_label}}helptext"
                  class="form-text text-muted"
                >{{form.old_password.help_text|safe}}</small>
              </div>
              <div class="form-group">
                <label for="{{form.new_password1.id_for_label}}">New password</label>
                <input
                  type="password"
                  class="form-control"
                  name="{{form.new_password1.name}}"
                  id="{{form.new_password1.id_for_label}}"
                  required
                >
                <small
                  id="{{form.new_password1.id_for_label}}helptext"
                  class="form-text text-muted"
                >{{form.new_password1.help_text|safe}}</small>
              </div>
              <div class="form-group">
                <label for="{{form.new_password2.id_for_label}}">New password confirmation</label>
                <input
                  type="password"
                  class="form-control"
                  name="{{form.new_password2.name}}"
                  id="{{form.new_password2.id_for_label}}"
                  required
                >
                <small
                  id="{{form.new_password2.id_for_label}}helptext"
                  class="form-text text-muted"
                >{{form.new_password2.help_text|safe}}</small>
              </div>
            </div>
          </fieldset>
          <div class="text-right">
            <button type="submit" class="btn btn-block btn-primary rounded-0">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
