{% extends 'main/dashboard.html' %}
{% load static %}

{% block dashboard_content %}
  <div class="px-5">
    {% if form.errors %}
    <p class="text-danger">
      {{form.errors|safe}}
    </p>
    {% endif %}
    <form method="post" action="{% url 'account:edit' %}">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-6">
          <fieldset class="mb-3">
            <h5 class="text-muted">Autentikasi Situs</h5>
            <div class="pl-2">
              <div class="form-group">
                <label for="{{form.username.id_for_label}}">Nama Pengguna</label>
                <input
                  type="text"
                  class="form-control"
                  name="{{form.username.name}}"
                  id="{{form.username.id_for_label}}"
                  value="{{form.username.value|default:''}}"
                  required
                  autofocus
                >
                <small
                  id="{{form.username.id_for_label}}helptext"
                  class="form-text text-muted"
                >{{form.username.help_text|safe}}</small>
              </div>
              <div class="form-group">
                <label for="{{form.password.id_for_label}}">Sandi</label>
                <input
                  type="password"
                  class="form-control"
                  name="{{form.password.name}}"
                  id="{{form.password.id_for_label}}"
                  value="{{form.password.value}}"
                  required
                >
                <small
                  id="{{form.password.id_for_label}}helptext"
                  class="form-text text-muted"
                >{{form.password.help_text|safe}}</small>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="col-sm-6">
          <fieldset class="mb-3">
            <h5 class="text-muted">Informasi Pribadi</h5>
            <div class="pl-2">
              <div class="form-group">
                <label for="{{form.first_name.id_for_label}}">Nama depan</label>
                <input
                  type="text"
                  class="form-control"
                  name="{{form.first_name.name}}"
                  id="{{form.first_name.id_for_label}}"
                  value="{{form.first_name.value|default:''}}"
                  required
                >
                <small
                  id="{{form.first_name.id_for_label}}helptext"
                  class="form-text text-muted"
                >{{form.first_name.help_text|safe}}</small>
              </div>
              <div class="form-group">
                <label for="{{form.last_name.id_for_label}}">Nama belakang</label>
                <input
                  type="text"
                  class="form-control"
                  name="{{form.last_name.name}}"
                  id="{{form.last_name.id_for_label}}"
                  value="{{form.last_name.value|default:''}}"
                >
                <small
                  id="{{form.last_name.id_for_label}}helptext"
                  class="form-text text-muted"
                >{{form.last_name.help_text|safe}}</small>
              </div>
              <div class="form-group">
                <label for="{{form.age.id_for_label}}">Umur</label>
                <input
                  type="number"
                  class="form-control"
                  name="{{form.age.name}}"
                  id="{{form.age.id_for_label}}"
                  value="{{form.age.value}}"
                  required
                >
                <small
                  id="{{form.age.id_for_label}}helptext"
                  class="form-text text-muted"
                >{{form.age.help_text|safe}}</small>
              </div>
              <div class="form-group">
                <label for="{{form.gender.id_for_label}}">Jenis kelamin</label>
                <select class="form-control" name="{{form.gender.name}}" id="{{form.gender.id_for_label}}">
                  {% for key, val in form.fields.gender.choices %}
                  <option value={{key}} {% if key == form.gender.value %}selected{% endif %} required>{{val}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <fieldset class="mb-3">
        <h5 class="text-muted">Pekerjaan</h5>
        <div class="pl-2">
          <div class="form-row">
            <div class="form-group col">
              <label for="{{form.workplace.id_for_label}}">Unit Kerja Lembaga/Organisasi</label>
              <input
                type="text"
                class="form-control"
                name="{{form.workplace.name}}"
                id="{{form.workplace.id_for_label}}"
                value="{{form.workplace.value|default:''}}"
                required
              >
              <small
                id="{{form.workplace.id_for_label}}helptext"
                class="form-text text-muted"
              >{{form.workplace.help_text|safe}}</small>
            </div>
            <div class="form-group col">
              <label for="{{form.province.id_for_label}}">Provinsi</label>
              <select class="form-control" name="{{form.province.name}}" id="{{form.province.id_for_label}}" required>
                {% for key, val in form.fields.province.choices %}
                <option value={{key}} {% if key == form.province.value %}selected{% endif %} required>{{val}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group col">
              <label for="{{form.regency.id_for_label}}">Kota/Kabupaten</label>
              <select class="form-control" name="{{form.regency.name}}" id="{{form.regency.id_for_label}}" required>
                {% for key, val in form.fields.regency.choices %}
                <option value={{key}} {% if key == form.regency.value %}selected{% endif %} required>{{val}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="{{form.position.id_for_label}}">Jabatan</label>
            <input
              type="text"
              class="form-control"
              name="{{form.position.name}}"
              id="{{form.position.id_for_label}}"
              value="{{form.position.value|default:''}}"
              required
            >
            <small
              id="{{form.position.id_for_label}}helptext"
              class="form-text text-muted"
            >{{form.position.help_text|safe}}</small>
          </div>
          <div class="form-group">
            <label for="{{form.year_of_service.id_for_label}}">Masa/Lama kerja</label>
            <input
              type="number"
              class="form-control"
              name="{{form.year_of_service.name}}"
              id="{{form.year_of_service.id_for_label}}"
              value="{{form.year_of_service.value}}"
              required
            >
            <small
              id="{{form.year_of_service.id_for_label}}helptext"
              class="form-text text-muted"
            >{{form.year_of_service.help_text|safe}}</small>
          </div>
          <div class="form-group">
            <label for="{{form.last_education.id_for_label}}">Pendidikan terakhir</label>
            <input
              type="text"
              class="form-control"
              name="{{form.last_education.name}}"
              id="{{form.last_education.id_for_label}}"
              value="{{form.last_education.value|default:''}}"
              required
            >
            <small
              id="{{form.last_education.id_for_label}}helptext"
              class="form-text text-muted"
            >{{form.last_education.help_text|safe}}</small>
          </div>
        </div>
      </fieldset>
      <div class="text-right">
        <input type="hidden" name="is_active" value="{{ True }}" />
        <button type="submit" class="btn btn-block btn-primary rounded-0">Simpan</button>
      </div>
    </form>
  </div>
{% endblock %}
