{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-sm-8 border pt-3 pb-4 px-4 bg-white text-dark">
        <div class="row">
          <div class="col-sm-auto">
            <img src="{% static 'image/logo_kemensos.png' %}" width="80">
          </div>
          <div class="col border-left text-muted font-weight-bold">
            <span>SISTEM MONITORING DAN EVALUASI ELEKTRONIK</span><br />
            <span>ALUMNI DIKLAT BBPPKS PADANG</span>
          </div>
        </div>
        <hr />
        {% if form.errors %}
        <p class="text-danger">
          {{form.errors|safe}}
        </p>
        {% endif %}

        <form method="post" action="{% url 'account:signin' %}">
          {% csrf_token %}
          <fieldset class="mb-3">
            <h5 class="text-muted">Autentikasi Situs</h5>
            <div class="pl-2">
              <div class="form-group">
                <label for="{{form.username.id_for_label}}">Nama pengguna</label>
                <input
                  type="text"
                  class="form-control"
                  name="{{form.username.name}}"
                  id="{{form.username.id_for_label}}"
                  value="{{form.username.value|default:''}}"
                  required
                  autofocus
                >
                <small
                  id="{{form.username.id_for_label}}helptext"
                  class="form-text text-muted"
                >{{form.username.help_text|safe}}</small>
              </div>
              <div class="form-group">
                <label for="{{form.password1.id_for_label}}">Sandi</label>
                <input
                  type="password"
                  class="form-control"
                  name="{{form.password1.name}}"
                  id="{{form.password1.id_for_label}}"
                  required
                >
                <small
                  id="{{form.password1.id_for_label}}helptext"
                  class="form-text text-muted"
                >{{form.password1.help_text|safe}}</small>
              </div>
              <div class="form-group">
                <label for="{{form.password2.id_for_label}}">Konfirmasi sandi</label>
                <input
                  type="password"
                  class="form-control"
                  name="{{form.password2.name}}"
                  id="{{form.password2.id_for_label}}"
                  required
                >
                <small
                  id="{{form.password2.id_for_label}}helptext"
                  class="form-text text-muted"
                >{{form.password2.help_text|safe}}</small>
              </div>
            </div>
          </fieldset>
          <fieldset class="mb-3">
            <h5 class="text-muted">Informasi Pribadi</h5>
            <div class="pl-2">
              <div class="form-row">
                <div class="form-group col">
                  <label for="{{form.first_name.id_for_label}}">Nama depan</label>
                  <input
                    type="text"
                    class="form-control"
                    name="{{form.first_name.name}}"
                    id="{{form.first_name.id_for_label}}"
                    value="{{form.first_name.value|default:''}}"
                    required
                  >
                  <small
                    id="{{form.first_name.id_for_label}}helptext"
                    class="form-text text-muted"
                  >{{form.first_name.help_text|safe}}</small>
                </div>
                <div class="form-group col">
                  <label for="{{form.last_name.id_for_label}}">Nama belakang</label>
                  <input
                    type="text"
                    class="form-control"
                    name="{{form.last_name.name}}"
                    id="{{form.last_name.id_for_label}}"
                    value="{{form.last_name.value|default:''}}"
                  >
                  <small
                    id="{{form.last_name.id_for_label}}helptext"
                    class="form-text text-muted"
                  >{{form.last_name.help_text|safe}}</small>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-3">
                  <label for="{{form.gender.id_for_label}}">Jenis kelamin</label>
                  <select class="form-control" name="{{form.gender.name}}" id="{{form.gender.id_for_label}}">
                    {% for key, val in form.fields.gender.choices %}
                    <option value={{key}} {% if key == form.gender.value %}selected{% endif %} required>{{val}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col-sm-3">
                  <label for="{{form.age.id_for_label}}">Umur</label>
                  <input
                    type="number"
                    class="form-control"
                    name="{{form.age.name}}"
                    id="{{form.age.id_for_label}}"
                    value="{{form.age.value}}"
                    required
                  >
                  <small
                    id="{{form.age.id_for_label}}helptext"
                    class="form-text text-muted"
                  >{{form.age.help_text|safe}}</small>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="mb-3">
            <h5 class="text-muted">Pekerjaan</h5>
            <div class="pl-2">
              <div class="form-row">
                <div class="form-group col">
                  <label for="{{form.workplace.id_for_label}}">Unit Kerja Lembaga/Organisasi</label>
                  <input
                    type="text"
                    class="form-control"
                    name="{{form.workplace.name}}"
                    id="{{form.workplace.id_for_label}}"
                    value="{{form.workplace.value|default:''}}"
                    required
                  >
                  <small
                    id="{{form.workplace.id_for_label}}helptext"
                    class="form-text text-muted"
                  >{{form.workplace.help_text|safe}}</small>
                </div>
                <div class="form-group col">
                  <label for="{{form.province.id_for_label}}">Provinsi</label>
                  <select class="form-control" name="{{form.province.name}}" id="{{form.province.id_for_label}}" required>
                    {% for key, val in form.fields.province.choices %}
                    <option value={{key}} {% if key == form.province.value %}selected{% endif %} required>{{val}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col">
                  <label for="{{form.regency.id_for_label}}">Kota/Kabupaten</label>
                  <select class="form-control" name="{{form.regency.name}}" id="{{form.regency.id_for_label}}" required>
                    {% for key, val in form.fields.regency.choices %}
                    <option value={{key}} {% if key == form.regency.value %}selected{% endif %} required>{{val}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="{{form.position.id_for_label}}">Jabatan</label>
                <input
                  type="text"
                  class="form-control"
                  name="{{form.position.name}}"
                  id="{{form.position.id_for_label}}"
                  value="{{form.position.value|default:''}}"
                  required
                >
                <small
                  id="{{form.position.id_for_label}}helptext"
                  class="form-text text-muted"
                >{{form.position.help_text|safe}}</small>
              </div>
              <div class="form-group">
                <label for="{{form.year_of_service.id_for_label}}">Masa/Lama kerja</label>
                <input
                  type="number"
                  class="form-control"
                  name="{{form.year_of_service.name}}"
                  id="{{form.year_of_service.id_for_label}}"
                  value="{{form.year_of_service.value}}"
                  required
                >
                <small
                  id="{{form.year_of_service.id_for_label}}helptext"
                  class="form-text text-muted"
                >{{form.year_of_service.help_text|safe}}</small>
              </div>
              <div class="form-group">
                <label for="{{form.last_education.id_for_label}}">Pendidikan terakhir</label>
                <input
                  type="text"
                  class="form-control"
                  name="{{form.last_education.name}}"
                  id="{{form.last_education.id_for_label}}"
                  value="{{form.last_education.value|default:''}}"
                  required
                >
                <small
                  id="{{form.last_education.id_for_label}}helptext"
                  class="form-text text-muted"
                >{{form.last_education.help_text|safe}}</small>
              </div>
            </div>
          </fieldset>
          <div class="text-center">
            <hr />
            <button type="submit" class="btn btn-primary rounded-0">Daftar</button>
            <a class="btn btn-success rounded-0" href="{% url 'account:login' %}" role="button">Masuk</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
