<html>
<head>
  <title>Questionnaire</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Questionnaire</h1>
    <ul class="list-unstyled">
      <li>
        Instrument A
      </li>
      <li>
        Some title
      </li>
    </ul>
    <ol type="A">
      <li>
        Manajemen Penyelenggaraan Diklat
        <ol type="1">
          <li>
            Waktu Penyelenggaraan
            <p>
              Bagaimana penilaian Bapak/Ibu terkait durasi (lama waktu) pelaksanaan sesi kegiatan dalam Diklat Perlindungan Anak bagi LKSA/Panti Swasta yang telah Bapak/Ibu ikuti ?
            </p>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th rowspan=2>
                    No
                  </th>
                  <th rowspan=2>
                    Jenis Pertanyaan
                  </th>
                  <th colspan=4>
                    Jawaban
                  </th>
                </tr>
                <tr>
                  <th>
                    Terlalu Lama
                  </th>
                  <th>
                    Sedang
                  </th>
                  <th>
                    Cukup
                  </th>
                  <th>
                    Kurang
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    Lamanya waktu diklat
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                </tr>
                <tr>
                  <td>
                    2
                  </td>
                  <td>
                    Lamanya waktu diskusi
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                  <td>
                    <input type="checkbox" />
                  </td>
                </tr>
              </tbody>
            </table>
            <p>
              Saran :
            </p>
            <textarea rows="4" cols="100%"></textarea>
          </li>
        </ol>
      </li>
    </ol>
  </div>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
