<div class="font-weight-normal mb-5">
  <p>
    {{ question.text|capfirst }}
  </p>
  {% if question.type == "essay" %}
    <textarea rows="5" cols="130" name="e{{question.id}}" required></textarea>
  {% elif question.type == "objective" %}
    {% for option in question.option_set.all %}
      <input type="radio" name="o{{question.id}}" value="{{option.id}}" required /> {{option.name|title}}<br />
    {% endfor %}
  {% else %}
    {% if question.index_as_table_head %}
      <div class="float-right text-right">
        <b>Keterangan jawaban:</b>
        <ul class="list-unstyled">
          {% for option in question.option_set.all %}
            <li>{{ option.name|title }} = {{ forloop.counter }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th rowspan="2">
            No.
          </th>
          <th rowspan="2">
            Pertanyaan
          </th>
          <th colspan="{{ question.option_set.all|length }}">
            Jawaban
          </th>
        </tr>
        <tr>
          {% for option in question.option_set.all %}
            <th>
              {% if question.index_as_table_head %}
                {{ forloop.counter }}
              {% else %}
                {{ option.name|title }}
              {% endif %}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for measure in question.measure_set.all %}
          <tr>
            <td>
              {{ forloop.counter }}.
            </td>
            <td>
              {{ measure.name|capfirst }}
            </td>
            {% for option in question.option_set.all %}
              <td>
                <input type="radio" name="g{{measure.id}}" value="{{option.id}}" required />
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% if question.type != "essay" and question.with_recommendation %}
  <div class="pt-3">
    <p>Saran:</p>
    <textarea name="r{{ question.id }}" rows="5" cols="130"></textarea>
  </div>
  {% endif %}
</div>
